.inputs {
  margin-top: 12px;
}
.editarBlock,
.editarIn {
  display: none;
}
/* .editarBlock{
    display: block;
}
.editarIn{
    display: inline;
} */
a {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
